# Provide the base url for the application.
BASE_URL=https://www.redbus.in

# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=Root@123
DB_NAME=playwright_db

# Slack Webhook Configuration (Optional for local notifications)
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/...